/* Général */
@font-face {
	font-family: "Iceland";
	font-display: swap;
	src: url("../font/iceland.ttf") format("truetype")
}

* {
	font-family: "Iceland", cursive;
	color: #ffffff;
}

body {
	background: url("../img/map.jpeg");
	background-repeat: no-repeat;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

/* Divers */
h1,
p {
	text-align: center;
}

p {
	font-size: 25px;
}

/* Div principale */
#logo {
	width: 430px;
	height: 161px;
	margin: 20px 0;
}

/* Couleur de fond transparente */
#pays,
#joueurs,
#chat,
#colonneInfos,
#colonneOrdres {
	background-color: rgba(112, 128, 143, 0.7);
}

/* Barre de séparation */
#minuteur,
#colonneOrdres>h1,
#telecharger>form>div>h2 {
	border-style: solid;
	border-width: 0 0 4px;
	border-image: radial-gradient(#ae0132, #1c0043) 1;
}

/* Chat */
#chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 10px 0 0;
	border-radius: 10px;
}

#chat>form>input[type=text] {
	background-color: rgb(112, 128, 143);
	width: calc(100% - 20px);
	padding: 0 10px;
	margin: 0;
	font-size: 24px;
	border-radius: 0 0 10px 10px;
	outline: none;
	border-style: none;
}

#chat>div:nth-child(2) {
	height: 100%;
	padding: 10px;
	overflow-y: auto;
}

/* Boutons */
button,
input[type=submit],
#ordres>div:first-child>p,
#ordres>div:first-child>div>p {
	margin: 20px 0;
	padding: 0;
	line-height: 44px;
	font-size: 28px;
	background-color: #800124;
	background-image: linear-gradient(#002843, rgba(255, 255, 255, 0));
	box-shadow: 0px 0px 15px 5px #002843;
	transition: 0.6s;
	border-radius: 20px;
	border-style: none;
	cursor: pointer;
}

button:hover,
input[type=submit]:hover,
#ordres>div:first-child>p:hover,
#ordres>div:first-child>div>p:hover {
	background-color: #4682b4;
}

button:active,
input[type=submit]:active,
#ordres>div:first-child>p:active,
#ordres>div:first-child>div>p:active {
	background-color: #376890;
}

/* Boîtes de dialogue */
dialog {
	background-color: #2a3a49;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 0px 15px 5px #002843;
}

dialog>h1 {
	font-size: 40px;
	margin: 10px 0 30px;
	text-align: center;
}

dialog>form {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: center;
}

dialog>form>div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

dialog>form>div:last-child {
	width: 100%;
}

dialog>form>p {
	display: none;
	font-size: 20px;
	font-weight: bold;
	color: rgb(238, 34, 34);
	margin-bottom: 0;
	text-align: center;
}

dialog>form>div>label {
	font-size: 25px;
	width: 49%;
	text-align: left;
}

input[type=number],
input[type=password],
input[type=text],
.ciblage>label,
select {
	background-color: #3b5167;
	width: calc(50% - 10px);
	height: 30px;
	font-size: 25px;
	margin: 2px 0;
	padding: 0 5px;
	border-style: none;
	outline: none;
}

dialog>form>div>button,
dialog>form>div>input[type=submit],
#telecharger>form>button {
	width: 40%;
	margin: 30px 0 10px;
	line-height: 44px;
	border: none;
	outline: inherit;
}

input.erreur {
	background-color: rgba(255, 0, 0, 0.4);
}

/* Version tablette */
@media only screen and (min-width: 770px) and (max-width: 1370px) {

	/* Boîtes de dialogue */
	dialog>h1 {
		font-size: 32px;
	}

	dialog>form>div {
		width: 100%;
		justify-content: space-around;
	}

	button,
	input[type=submit],
	#ordres>div:first-child>p,
	#ordres>div:first-child>div>p {
		font-size: 26px;
	}
}

/* Version mobile */
@media only screen and (max-width: 769px) {

	/* Div principale */
	#logo {
		width: 340px;
		height: 128px;
	}

	/* Chat */
	#chat {
		height: max-content !important;
	}

	#historique {
		min-height: 15vh !important;
	}

	#chat>h1.bas:after {
		content: "⯆";
	}

	#chat>h1:after {
		content: "⯅";
	}

	/* Boîtes de dialogue */
	dialog {
		width: 85vw;
	}

	dialog>h1 {
		font-size: 32px;
	}

	dialog>form>div {
		width: 100%;
	}

	button,
	input[type=submit],
	#ordres>div:first-child>p,
	#ordres>div:first-child>div>p {
		font-size: 23px;
	}
}

/* Mode sombre */
@media(prefers-color-scheme: dark) {

	/* Couleur de fond transparente */
	#pays,
	#joueurs,
	#chat,
	#colonneInfos,
	#colonneOrdres {
		background-color: rgba(42, 58, 73, 0.7);
	}

	/* Chat */
	#chat>form>input[type=text] {
		background-color: rgb(42, 58, 73);
	}
}