/* Général */
@font-face{
	font-family: "Iceland";
	font-display: swap;
	src: url("../font/iceland.ttf") format("truetype")
}
*{
	font-family: "Iceland", cursive;
	color: #ffffff;
}
body{
	background: url("../img/map.jpeg");
	margin: 0;
	padding: 0;
}

/* Divers */
h1, p{
	text-align: center;
}
p{
	font-size: 25px;
}

/* Div principale */
#logo{
	width: 430px;
	height: 163px;
	margin: 20px 0;
}

/* Couleur de fond transparente */
#pays,
#joueurs,
#chat,
#colonneInfos,
#colonneOrdres{
	background-color: rgba(112, 128, 143, 0.7);
}

svg,
#quitter{
	background-color: rgba(112, 128, 143, 0.9);
}

/* Barre de séparation */
#minuteur,
#colonneOrdres > h1,
#chat > h1{
	border-style: solid;
	border-width: 0 0 4px;
	border-image: radial-gradient(#ae0132, #1c0043) 1;
}

/* Boutons */
button,
input[type=submit],
#ordres > p{
	margin: 20px 0;
	padding: 0 32px;
	line-height: 44px;
	font-size: 28px;
	background-color: #800124;
	background-image: linear-gradient(#002843, rgba(255, 255, 255, 0));
	box-shadow: 0px 0px 15px 5px #002843;
	transition: 0.7s;
	border-radius: 20px;
	border-style: none;
	cursor: pointer;
}
button:hover,
input[type=submit]:hover,
#ordres > p:hover{
	background-color: #4682b4;
}
button:active,
input[type=submit]:active,
#ordres > p:active{
	background-color: #376890;
}

/* Version mobile */
@media screen and (max-width:769px){
	/* Div principale */
	#logo{
		width: 324px;
		height: 123px;
	}
}

@media(prefers-color-scheme:dark){
	/* Couleur de fond transparente */
	#pays,
	#joueurs,
	#chat,
	#colonneInfos,
	#colonneOrdres{
		background-color: rgba(42, 58, 73, 0.7);
	}

	svg,
	#quitter{
		background-color: rgba(42, 58, 73, 0.9);
	}
}