@font-face {
	font-family: "Iceland";
	font-display: swap;
	src: url("../font/iceland.ttf") format("truetype")
}
*{
	font-family: 'Iceland', cursive;
	color: black;
}
body{
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
}

/* Thème sombre */
@media (prefers-color-scheme: dark){
	*{
		color: white;
	}
	body{
		background-color: #333333;
	}
}